@import 'src/styles/responsive.mixin';

:host {
  padding: inherit;
}

.background {
  position: relative;
  height: 55vh;
  z-index: 0;
  padding: 0 2rem;
}

.background:before {
  content: "";
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top left, #c33764, #1d2671);
  background: linear-gradient(to top left, #c33764, #1d2671);
}

.shortener-form-cmp {
  padding: inherit;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-45%);

  @include screen-min("tablet-landscape") {
    left: unset;
    right: 13%;
    width: 50rem;
  }
}
