<mat-card>
	<mat-card-content>
		<form (ngSubmit)="onSubmit()" [formGroup]="form">

			<h2>Sign Up</h2>

      <div
        *ngIf="errorMessage"
        class="error-box"
      >{{ errorMessage }}
      </div>

      <mat-form-field appearance="outline" class="full-width-input">
        <input
					matInput
					placeholder="Email"
					formControlName="email"
				>
        <mat-error *ngIf="form.get('email')?.invalid">
          Please enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-input">
        <input
					matInput
					type="password"
					placeholder="Password"
					formControlName="password"
					>
        <mat-error *ngIf="form.get('password')?.errors?.required">
          Password is required
        </mat-error>
        <mat-error *ngIf="form.get('password')?.errors?.minlength">
          Your password is too short - min {{ form.get('password')?.errors?.minlength.requiredLength }} characters
        </mat-error>
      </mat-form-field>

			<mat-form-field appearance="outline" class="full-width-input">
        <input
					matInput
					type="password"
					placeholder="Repeat password"
          formControlName="passwordConfirm"
					>
        <mat-error *ngIf="form.get('passwordConfirm')?.errors?.passwordMismatch">
          Passwords do not match
        </mat-error>
      </mat-form-field>

			<button
        mat-raised-button
        [disabled]="form.invalid"
        color="primary"
      >Sign Up</button>

			<div class="switch-link"><a routerLink="/">Switch to login</a></div>
		</form>
	</mat-card-content>
</mat-card>
