<div class="shortener-outer-form">
  <mat-card class="shortener-form-container">
    <mat-card-content>

      <form class="shortener-form" (ngSubmit)="onSubmit(f)" #f="ngForm" autocomplete="off">

        <mat-form-field appearance="outline" class="shortener-form__url-input">
          <input
            matInput
            type="url"
            placeholder="URL"
            ngModel
            name="url"
            required
          >
          <mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-input">
          <input
            matInput
            placeholder="Title"
            ngModel
            name="title"
          >
          <mat-error>
          </mat-error>
        </mat-form-field>

        <button
          class="shortener-form__submit-btn"
          mat-raised-button
          color="primary"
        >
          Shorten URL
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
