@import 'src/styles/responsive.mixin';

.shortener-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include screen-min("tablet-landscape") {

  }

  mat-form-field {
    width: 100%;
  }

  input {
    color: #c33764;
  }

  &__url-input {

    .mat-form-field-wrapper,
    .mat-form-field-appearance-outline {
      margin: 0;
      padding: 0;
    }
  }

  .mat-form-field-outline {
    background: #fff;
    border-radius: 5px;
  }

  &__submit-btn {
    width: 100%;
    border-radius: 10px;
  }
}

.shortener-form-container {
  background: #fff;
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  box-shadow:  2px 10px 18px -1px #000;
  width: 100%;
}

.shortener-outer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
