.header {
  padding: 1rem;
  margin: 0 -2rem;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__title h2 {
    color: #fff;
    font-size: 2.7rem;
    margin: 0;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__links {
  }

  &__link {
    color: #fff;
    padding: 10px 14px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
}
