<header class="header">
  <nav class="header__nav">
    <div class="header__title">
      <h2>URL Shortener</h2>
    </div>
    <div class="header__content">
      <div class="header__links">
          <a *ngIf="isAuthenticated" class="header__link" (click)="onLogout()">Logout</a>
      </div>
    </div>
  </nav>
</header>
