$breakpoints: (
  'phone': 599.5px,
  'tablet-portrait': 600px,
  'tablet-landscape': 940px,
  'desktop': 1200px,
  'big-desktop': 1920px
) !default;

@mixin screen($breakpoint) {
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin screen-min($breakpoint) {
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}
