/* You can add global styles to this file, and also import other style files */

html {
  font-size: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-box {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.ngx-pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

