.background {
  position: relative;
  height: 55vh;
  z-index: 0;
  padding: 0 2rem;
}

.background:before {
  content: "";
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top left, #c33764, #1d2671);
  background: linear-gradient(to top left, #c33764, #1d2671);
}


.container {
  padding: 0 2rem;
}


