<div class="url-list">
  <h2 class="url-list__title">Your URLs</h2>

  <app-url-item
    *ngFor="let shortenedUrl of shortenedUrls | paginate: {
    itemsPerPage: itemsPerPage,
    currentPage: page,
    totalItems: totalItems}"
    [shortenedUrl]="shortenedUrl"
    (delete)="onDeleteUrlItem($event)"
  ></app-url-item>

  <pagination-controls
    *ngIf="totalItems > itemsPerPage"
    (pageChange)="onPageChange($event)"
  ></pagination-controls>
</div>
