<div class="url-item">

  <div class="short-url">{{ shortenedUrl.shortUrl }}</div>
  <div class="title">{{ shortenedUrl.title }}</div>
  <div class="long-url">{{ shortenedUrl.longUrl }}</div>

  <div class="url-actions">
    <button
      mat-raised-button
      color="primary"
      (click)="onCopyShortUrlToClipboard()"
    >
      Copy
    </button>
    <button
      mat-raised-button
      color="primary"
      class="url-actions__delete"
      (click)="onDelete()"
    >
      Delete
    </button>
  </div>
</div>
