.url-item {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.short-url {
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 1.7rem;
}

.title {
  font-size: 1.6rem;
}

.long-url {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 3em;
  font-size: 80%;
}

.url-actions {
  display: flex;
  flex-wrap: wrap;

  & > *:not(:first-child) {
    margin-left: 1rem;
  }

  &__delete {
    background-color: red;
  }
}
