<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <h2>Login</h2>

      <div
        *ngIf="errorMessage"
        class="error-box"
      >{{ errorMessage }}
      </div>

      <mat-form-field appearance="outline" class="full-width-input">
        <input
					matInput
					placeholder="Email"
					ngModel
					name="email"
					required
					email
				>
        <mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-input">
        <input
					matInput
					type="password"
					placeholder="Password"
					ngModel
					name="password"
					required
				>
        <mat-error>
        </mat-error>
      </mat-form-field>

      <button
				mat-raised-button
				color="primary"
				[disabled]="f.invalid"
			>
				Login
			</button>

			<div class="switch-link"><a routerLink="/auth/signup">Switch to signup</a></div>
    </form>
  </mat-card-content>
</mat-card>
